---
import Shell from "../layouts/Shell.astro";
import Sponsor from "../components/Sponsors.astro";
import { getLocaleFromUrl } from "../i18n/ui";

const locale = getLocaleFromUrl(Astro.url);
---

<Shell title="Our sponsors" description="Sponsors who made our event possible!" lang={locale}>
  <div class="p-section p-strip is-shallow">
    <div class="row">
      <b>Sponsors who made our event possible!</b>
      <hr class="p-rule"/>
      Thank you to our generous sponsors whose support made our event possible!
      Interested to sponsor us? <a href="/sponsors/become-a-sponsor">See how to become our sponsor and join us today!</a>
    </div>
  </div>
  <Sponsors />
</Shell>
